@media screen and (max-width: 600px){
  .social-net{
    align-items: flex-start;
    margin-left: 2%;
  }
  header{
    height: 10%;
  }
  .header-content{
    height: 100%;
    margin-bottom: 1rem;
        font-size: 0.8em;
     .right-header{
      p{
        letter-spacing: 0px;
      }
     }
  }
  .name{
    flex-direction: row;
    font-size: 0.9em;
    margin-top: 12%;
    margin-left: -15px;
  }
  .header-content{
      .square {
          left: -15%;
        }
  }
     .control{
      padding: 0.3rem;
     }

}